.header {
  position: relative;
  height: 95vh;
  background-image:
    linear-gradient(
      to right,
      rgba($color-light, 0.8),
      rgba($color-dark, 0.8)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);

  &__logo-box {
    position: absolute;
    top: 5%;
    left: 5%;
  }

  &__logo {
    height: 3.5rem;
  }

  &__hero {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
